<section class="event-section">
    <a>
        <div>
            <img src="/Images/academic.jpg" alt="Wildbeats">
            <h5>ICS221 Theory Of Computation</h5>
            <!--<i class="fa-solid fa-ellipsis-vertical"></i>-->
        </div>
    </a>
    <a>
        <div>
            <img src="/Images/non-academic.jpg" alt="Trendles">
            <h5>ICS223 Compiler Design</h5>
            <!--<i class="fa-solid fa-ellipsis-vertical"></i>-->
        </div>
    </a>
    <a>
        <div>
            <img src="/Images/academic.jpg" alt="Mind Quest">
            <h5>ICS224 Computer Network</h5>
            <!--<i class="fa-solid fa-ellipsis-vertical"></i>-->
        </div>
    </a>
    <a>
        <div>
            <img src="/Images/non-academic.jpg" alt="Sports">
            <h5>ICS225 Data Structures</h5>
            <!--<i class="fa-solid fa-ellipsis-vertical"></i>-->
        </div>
    </a>
    <a>
        <div>
            <img src="/Images/academic.jpg" alt="Mind Quest">
            <h5>ICS226 Secure Software Engineering</h5>
            <!--<i class="fa-solid fa-ellipsis-vertical"></i>-->
        </div>
    </a>
</section>
