<div class="events-section">
    <a href="/academic">
        <img src="/Images/academic.jpg" alt="Academic">
        <h3>Academic Events</h3>
        <!--<i class="fa-solid fa-ellipsis-vertical"></i>-->
    </a>
    <a href="/non-academic">
        <img src="/Images/non-academic.jpg" alt="Non Academic">
        <h3>Non academic Events</h3>
        <!--<i class="fa-solid fa-ellipsis-vertical"></i>-->
    </a>
</div>
