<section class="event-section">
    <a href="/event?Id=<%= encrypt(1001) %>">
        <div>
            <img src="/Images/wildbeats.png" alt="Wildbeats">
            <h4>Wildbeats</h4>
            <!--<i class="fa-solid fa-ellipsis-vertical"></i>-->
        </div>
    </a>
    <a href="/event?Id=<%= encrypt(1002) %>">
        <div>
            <img src="/Images/trendles.jpg" alt="Trendles">
            <h4>Trendles</h4>
            <!--<i class="fa-solid fa-ellipsis-vertical"></i>-->
        </div>
    </a>
    <a href="/event?Id=<%= encrypt(1003) %>">
        <div>
            <img src="/Images/mindquest.png" alt="Mind Quest">
            <h4>Mind Quest</h4>
            <!--<i class="fa-solid fa-ellipsis-vertical"></i>-->
        </div>
    </a>
    <a href="/event?Id=<%= encrypt(1004) %>">
        <div>
            <img src="/Images/sports.png" alt="Sports">
            <h4>Sports</h4>
            <!--<i class="fa-solid fa-ellipsis-vertical"></i>-->
        </div>
    </a>
</section>
