<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .status {
            font-size: 30px;
            display: flex;
            justify-content: center;
        }

        .homeButton {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        button {
            padding: 7px 15px;
            cursor: pointer;
            font-size: 20px;
            color: white;
            background-color: #59cbf1;
            border: none;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <div>
        <h1 style="font-size: 200px;">404</h1>
        <div class="status">Page Not Found</div>
        <div class="homeButton"><a href="/dashboard"><button>Go Home</button></a></div>
    </div>
</body>

</html>
