<div class="events-section">
    <a href="/technical">
        <img src="/Images/technical.jpg" alt="Technical">
        <h3>Technical Events</h3>
        <!--<i class="fa-solid fa-ellipsis-vertical"></i>-->
    </a>
    <a href="/non-technical">
        <img src="/Images/non-technical.jpg" alt="Non Technical">
        <h3>Non technical Events</h3>
        <!--<i class="fa-solid fa-ellipsis-vertical"></i>-->
    </a>
</div>
